.testimonials {
  background: hsl(var(--section-light));
}

.testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 6rem;
}

.testimonial--reverse {
  flex-direction: row-reverse;
}

.testimonial__text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  max-width: 600px;
}

.testimonial__author h4 {
  font-size: 1.1rem;
}

.testimonial__author span {
  opacity: 0.6;
  font-size: 0.9rem;
}

.testimonial__image img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid hsl(var(--border));
  transition: var(--transition);
}

.testimonial__image img:hover {
  border-color: hsl(var(--primary));
  box-shadow: 0 0 30px hsla(var(--primary), 0.3);
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .testimonial {
    flex-direction: column;
    text-align: center;
  }

  .testimonial--reverse {
    flex-direction: column;
  }

  .testimonial__text {
    font-size: 1.3rem;
  }
}
