* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  overflow: hidden;
  background-color: #f0f0f0;
}

div {
  position: relative;
  height: 50svh;
  width: 50%;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: filter 0.5s ease;
    border-radius: 2rem;
  }

  p {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  &:hover {
    img {
      filter: blur(5px);
      border-radius: 2rem;
    }

    p {
      opacity: 1;
      visibility: visible;
    }
  }
}