  body {
    background: #e8f5f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .panda {
    position: relative;
    width: 200px;
  }

  /* Head */
  .head {
    width: 200px;
    height: 180px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
  }

  /* Ears */
  .ear {
    width: 60px;
    height: 60px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: -20px;
  }

  .ear.left { left: 0; }
  .ear.right { right: 0; }

  /* Eye patches */
  .eye-patch {
    width: 50px;
    height: 60px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 50px;
  }

  .eye-patch.left { left: 30px; }
  .eye-patch.right { right: 30px; }

  .eye {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 18px;
  }

  /* Nose + smile */
  .nose {
    width: 20px;
    height: 14px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 95px;
    left: 90px;
  }

  .mouth {
    width: 40px;
    height: 20px;
    border-bottom: 4px solid #000;
    border-radius: 0 0 40px 40px;
    position: absolute;
    top: 110px;
    left: 80px;
  }

  /* Body */
  .body {
    width: 160px;
    height: 180px;
    background: #000;
    border-radius: 50%;
    position: relative;
    margin: -20px auto 0;
    z-index: 1;
  }

  .belly {
    width: 90px;
    height: 110px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 35px;
  }

  /* Arms */
  .arm {
    width: 50px;
    height: 100px;
    background: #000;
    border-radius: 50px;
    position: absolute;
    top: 20px;
  }

  .arm.left {
    left: -30px;
    transform: rotate(20deg);
  }

  .arm.right {
    right: -30px;
    transform-origin: top center;
    animation: wave 1.5s infinite ease-in-out;
  }

  /* Legs */
  .leg {
    width: 60px;
    height: 70px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
  }

  .leg.left { left: 20px; }
  .leg.right { right: 20px; }

  /* Wave animation */
  @keyframes wave {
    0%   { transform: rotate(-20deg); }
    25%  { transform: rotate(-50deg); }
    50%  { transform: rotate(-20deg); }
    75%  { transform: rotate(-50deg); }
    100% { transform: rotate(-20deg); }
  }