body{
    background-color: #414141;
    color: rgb(134, 190, 240);
    /* background-image: url(./Screenshot\ 2024-09-14\ 104551.png); */
}

.line3, h2{
    background-color: rgb(232, 129, 45);
    color: rgb(240, 233, 238);
    padding: 29px;
    font-size: 30px;
    margin: 9px;
}

.line1{
    background-color: rgb(75, 75, 25);
    color: rgb(24, 24, 24);
}

.firstNameLabel:hover{
    background-color: rgb(199, 120, 130);
    color: rgb(84, 143, 123);
    font-size: 10px;
}

.firstNameInput:hover{
    background-color: rgb(199, 120, 130);
    color: rgb(84, 143, 123);
    padding: 10px;
}

.firstNameInput:default{
    background-color: rgb(120, 199, 144);
    color: rgb(199, 120, 130);
    padding: 10px;
}

.firstNameInput:focus{
    background-color: rgb(20, 1, 3);
    color: rgb(255, 255, 255);
    padding: 10px;
}

#resetButton1:hover{
    background-color: rgb(91, 34, 34);
}

.line4{
    color: rgb(165, 42, 42);
    background-color: rgb(22, 158, 158);
    padding-top: 5px;
    padding-right: 9px;
}

.line2{
    color: rgb(195, 207, 22);
    background-color: rgb(9, 49, 49);
    padding: 45px 15px 70px 130px; /* Top Right Left Bottom */
}

footer{
    color: rgb(230, 230, 26);
    border: 5px dashed rgb(165, 69, 69); /* border: width style color */
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

.line5{
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    font-family: "Playwrite AU QLD", cursive;
    font-weight: 500;
    font-style: oblique;
    line-height: 45px;
    /* line-break: auto; */ /* for asian languages */
}

/* Flex  */
.container1{
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    border: 3px solid white;
    justify-content: space-around;
    /* flex-direction: column-reverse;
    align-items: center; */
    gap: 21px 19px;/* gap: row column */
}

.box1{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    background-color: whitesmoke;
    /* margin: 9px; */
}

.container2{
    margin: 15px;
    border: 5px solid rgb(69, 5, 5);
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, auto);
    /* gap: 10px 20px; */
    row-gap: 10px;
    column-gap: 30px;
}

.box2{
    height: 100px;
    /* width: 100px; */
    border: 1px solid black;
    background-color: whitesmoke;
    /* margin: 9px; */
}

.box8{
    grid-column-start: 2;
    grid-column-end: 4;
    height: 100px;
    /* width: 100px; */
    border: 1px solid black;
    background-color: whitesmoke;
}

.box4{
    grid-row-start: 2;
    grid-row-end: 4;
    /* height: 100px; */
    /* width: 100px; */
    border: 1px solid black;
    background-color: whitesmoke;
}

.box7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    /* height: 100px; */
    /* width: 100px; */
    border: 1px solid black;
    background-color: whitesmoke;
}