/* =====================================================
   HERO SECTION
===================================================== */
.hero {
  background: linear-gradient(
    135deg,
    var(--purple-700),
    var(--purple-500)
  );
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.hero h1 {
  color: #fff;
  margin-bottom: 20px;
}

.hero-container {
  max-width: 700px;
  margin: 0 auto;
}

/* ========================================
   HERO SLIDER
======================================== */

.hero-slider {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.slider-track {
  display: flex;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.slide-content {
  position: absolute;
  bottom: 20%;
  left: 8%;
  color: white;
}

.slide-content h1 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 12px;
  background-color: #b0b0b0;
  border-radius: 6px;
}

.slide-content p {
  font-size: 18px;
  opacity: 0.9;
  background-color: #b0b0b0;
  border-radius: 2px;
}