.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  gap: 24px;
}

.search-wrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 20px;
}